<nav class="navbar navbar-toggleable-md navbar-light bg-faded ">
  <div class="container">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        Pool Load Calculator
      </li>

    </ul>
    <ul class="nav navbar-nav navbar-right pull-right navbar-toggler-right">
         <li><a href="https://www.ttanalytics.com"><button>Home</button></a></li>
        <li><a href="http://www.thorntontomasetti.com/services/sustainability/">SUSTAINABILITY | ThorntonTomasetti</a></li>

    </ul>
  </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <div class="result">
          <h4>{{annualHeat | number : '1.2-2'}} <span>MBTU</span></h4>
          <p>Annual Heat Load</p>
          <h4>{{qHeatup | number : '1.2-2'}} <span>MBH</span></h4>
          <p>Qh, Refill Load</p>
          <h4>{{qSurface | number : '1.2-2'}} <span>MBH</span></h4>
          <p>Qs, Surface Evaporation Load</p>
          <h4>{{heatsuppliedIp | number : '1.2-2'}} <span>MBH</span></h4>
          <p>Qe, Evaporation Load</p>
          <button type="button" class="edit" data-toggle="modal" data-target="#myModal"> 
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="image">
          <img src="https://firebasestorage.googleapis.com/v0/b/pool-load.appspot.com/o/pool%20load.png?alt=media&token=48713b09-275c-465e-8c4a-ca9a01923c3d" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5">
      <div class="operations">
        <h4>POOL OPERATIONS</h4>
        <div class="row">
          <div class="col-lg-6">
          <p>Air Temperature</p>
        </div>
        <div class="col-lg-3">
          <input type="number" [(ngModel)]="airTemp" (keyup)="changeToSITemp()"><span class="units"> <sup> 0</sup> F </span>
        </div>
        <div class="col-lg-3">
          <input type="number" [(ngModel)]="airTempCelcius" (keyup)="changeToIPTemp()"><span class="units"> <sup> 0</sup> C </span>
        </div>
        </div>
       <div class="row">
          <div class="col-lg-6">
          <p>Water Temperature</p>
        </div>
        <div class="col-lg-3">
          <input type="number" [(ngModel)]="waterTemp" (keyup)="changeToSITemp()"><span class="units"> <sup> 0</sup> F </span>
        </div>
        <div class="col-lg-3">
          <input type="number" [(ngModel)]="waterTempCelcius" (keyup)="changeToIPTemp()"><span class="units"> <sup> 0</sup> C </span>
        </div>
        </div>
       <div class="row">
          <div class="col-lg-6">
          <p>Operating Hours</p>
        </div>
        <div class="col-lg-3">
          <input type="number" [(ngModel)]="opHours" (keyup)="calculate()"><span class="units" > hrs </span>
        </div>
        <div class="col-lg-3">
          <p>Annually</p>
        </div>
        </div>
       <div class="row">
          <div class="col-lg-6">
          <p>Refill Frequency</p>
        </div>
        <div class="col-lg-3">
          <input type="number" [(ngModel)]="refillFreq" (keyup)="calculate()">
        </div>
        <div class="col-lg-3">
          <p>Annually</p>
        </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="attributes">
        <h4>POOL ATTRIBUTES</h4>
        <div class="row">
          <div class="col-lg-6">
          <p>Depth</p>
          </div>
          <div class="col-lg-3">
            <input type="number" [(ngModel)]="depth" (keyup)="changeToSI()"><span class="units"> Ft </span>
          </div>
          <div class="col-lg-3">
            <input type="number" [(ngModel)]="depthSI" (keyup)="changeToIP()"><span class="units"> m </span>
          </div>
        </div>
       <div class="row">
          <div class="col-lg-6">
          <p>Width</p>
          </div>
          <div class="col-lg-3">
            <input type="number" [(ngModel)]="width" (keyup)="changeToSI()"><span class="units"> Ft </span>
          </div>
          <div class="col-lg-3">
            <input type="number" [(ngModel)]="widthSI" (keyup)="changeToIP()"><span class="units"> m </span>
          </div>
        </div>
       <div class="row">
          <div class="col-lg-6">
          <p>Length</p>
        </div>
        <div class="col-lg-3">
            <input type="number" [(ngModel)]="length" (keyup)="changeToSI()"><span class="units"> Ft </span>
          </div>
          <div class="col-lg-3">
            <input type="number" [(ngModel)]="lengthSI" (keyup)="changeToIP()"><span class="units"> m </span>
          </div>
        </div>
       <div class="row">
          <div class="col-lg-6">
          <p>Area</p>
        </div>
        <div class="col-lg-3">
          <p class="areaResult">{{width*length | number : '1.0-0'}} <span class="units"> ft<sup>2</sup> </span></p> 
        </div>
        <div class="col-lg-3">
          <p  class="areaResult">{{widthSI*lengthSI | number : 0}} <span class="units"> m<sup>2</sup> </span></p> 
        </div>
        </div>
       <div class="row">
          <div class="col-lg-6">
          <p  class="volumeResult">Volume</p>
        </div>
          <div class="col-lg-3">
         <p>{{width*length*depth*7.5 | number : 0}} <span class="units"> gal </span></p> 
        </div>
        <div class="col-lg-3">
           <p class="volumeResult">{{widthSI*lengthSI*depthSI*7.5 | number : 0}}  <span class="units"> gal</span></p>
        </div>
        </div>
      </div>
    </div>
  </div>
  <!--modal -->
  <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Attributes</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body caculations">
        <h4>Calculation Details</h4>
        <div class="row">
          <div class="col-lg-6">
            <p>Surface Heat Loss (ks)</p>
          </div>
          <div class="col-lg-2">
            <input type="number" [(ngModel)]="heatLoss" >
          </div>
          <div class="col-lg-2">
            <p>btu/hr</p>
          </div>
          <div class="col-lg-2">
            <p class="desc">Typical: 4-7</p>
          </div>
        </div>
         <div class="row">
          <div class="col-lg-6">
              <p>dT</p>
          </div>
          <div class="col-lg-2">
             <input type="number" [(ngModel)]="dT">
          </div>
          <div class="col-lg-2">
             <p>F</p>
          </div>
          <div class="col-lg-2">

          </div>
        </div>
         <div class="row">
          <div class="col-lg-6">
               <p>dT Pickup</p> 
          </div>
          <div class="col-lg-2">
            <input type="number" [(ngModel)]="dTPickup">
          </div>
          <div class="col-lg-2">
            <p>Hr</p>
          </div>
          <div class="col-lg-2">

          </div>
        </div>
        <h4>Evaporation Rate Calculator</h4>
         <div class="row">
          <div class="col-lg-6">
               <p>Evap Heat (HWE)</p>
          </div>
          <div class="col-lg-2">
             <input type="number" [(ngModel)]="hwe">
          </div>
          <div class="col-lg-2">
              <p>kJ/kg</p>
          </div>
          <div class="col-lg-2">

          </div>
        </div>
         <div class="row">
          <div class="col-lg-6">
               <p>Humidity ratio in sat air (Xs)</p>
          </div>
          <div class="col-lg-2">
             <input type="number" [(ngModel)]="Xs">
          </div>
          <div class="col-lg-2">
              <p>kg/kg</p>
          </div>
          <div class="col-lg-2">
            <span class="desc">Typical: 0.02</span>
          </div>
        </div>
         <div class="row">
          <div class="col-lg-6">
               <p>Humidity ratio in the air (X)</p>
          </div>
          <div class="col-lg-2">
             <input type="number" [(ngModel)]="humidAir">
          </div>
          <div class="col-lg-2">
              <p>kg/kg</p>
          </div>
          <div class="col-lg-2">
            <span class="desc">Typical: 0.0098</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
               <p>Velocity of air above the water (V)</p>
          </div>
          <div class="col-lg-2">
             <input type="number" [(ngModel)]="velocity">
          </div>
          <div class="col-lg-2">
              <p>m/s</p>
          </div>
          <div class="col-lg-2">
              <span class="desc">Typical: 0.5</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal" (click)="calculate()">Edit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</div>
